<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>The S Team sport</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>The S Team sport</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>fr</string>
		<string>en</string>
		<string>de</string>
		<string>es</string>
		<string>it</string>
		<string>pt</string>
	</array>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <!--FF_REVERSED_CLIENT_ID-->
                
            </array>
        </dict>

        <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>thesteamsport.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
        <string>thesteamsport</string>
        </array>
        </dict>
    </array>
    <key>FlutterDeepLinkingEnabled</key>
    <true/>


	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSCameraUsageDescription</key>
    <string>The S Team Sport requiert l&#39;accès à votre appareil photo pour vous permettre de personnaliser votre photo de profil, rendant votre expérience plus personnelle et reconnaissable au sein de la communauté. De plus, l&#39;accès à l&#39;appareil photo est nécessaire pour utiliser la fonctionnalité de prise de photos lors de la rédaction de commentaires, vous permettant de partager des moments, des preuves ou des illustrations pertinentes avec les autres utilisateurs. Aucune autre utilisation de votre appareil photo n&#39;est prévue, et les photos prises sont uniquement stockées localement sur votre appareil et&#47;ou sur nos serveurs Firebase dans le cadre de votre contenu utilisateur.</string>
	<key>NSMicrophoneUsageDescription</key>
    <string>The S Team Sport requiert l&#39;accès à votre microphone afin de vous offrir la possibilité d&#39;enregistrer des commentaires vocaux en réponse à des publications ou à d&#39;autres commentaires. Cette fonctionnalité vous permet de partager vos pensées et vos réactions de manière plus rapide et expressive, enrichissant ainsi les discussions au sein de la communauté. L&#39;accès au microphone est uniquement utilisé lorsque vous initiez volontairement l&#39;enregistrement d&#39;un commentaire vocal. Aucun enregistrement audio n&#39;est effectué à votre insu, et les enregistrements sont uniquement stockés localement sur votre appareil et&#47;ou sur nos serveurs Firebase dans le cadre de votre contenu utilisateur.</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>The S Team Sport souhaite accéder à votre photothèque afin de vous offrir la possibilité de sélectionner une photo existante comme photo de profil, vous offrant ainsi plus de flexibilité dans la personnalisation de votre compte. Cet accès est également requis si vous souhaitez joindre des photos depuis votre galerie lorsque vous rédigez des commentaires, vous permettant de partager des images que vous avez déjà prises. Nous n&#39;accéderons à aucune autre photo de votre photothèque, et les images sélectionnées seront uniquement utilisées pour votre photo de profil et vos commentaires au sein de l&#39;application, stockées localement sur votre appareil et&#47;ou sur nos serveurs Firebase dans le cadre de votre contenu utilisateur.</string>
	<key>PermissionGroupNotification</key>
    <string>Recevez des notifications</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>



	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
  <key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5890797816389993~8454369463</string>
	<key>SKAdNetworkItems</key>
		<array>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>cstr6suwn9.skadnetwork</string>
			</dict>
		</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
